bin/generate_codeowners_owners.rb @org/maintain-team
.github/workflows/codeowners_owners_check.yml @org/maintain-team
codeowners_owners/org/maintain-team.txt @org/maintain-team

data/owner_a @owner_a
data/owner_a_or_b/owner_a.txt @owner_a
data/owner_a_or_b @owner_a @owner_b
data/owner_b owner_b # コメント
data/owner_c @owner_c
data/team_a/* @org/team_a
data/team_a/owner_b.txt @owner_b
data/team_a/owner_b.txt @owner_a @owner_b
data/common/owner_c @owner_c

codeowners_owners/owner_a.txt @owner_a
codeowners_owners/owner_b.txt @owner_b
codeowners_owners/owner_c.txt @owner_c
codeowners_owners/org/team_a.txt @org/team_a

