bin/generate_codeowners_owners.rb @cc-kusaka
.github/workflows/codeowners_owners_check.yml @cc-kusaka
codeowners_owners/cc-kusaka.txt @cc-kusaka

data/owner_a @cc-kusama
data/owner_a_or_b @cc-kusama @cc-osone
data/owner_a_or_b/owner_a.txt @cc-kusama

codeowners_owners/cc-kusama.txt @cc-kusama
codeowners_owners/cc-osone.txt @cc-osone


